/* html {
  height: 100%;
  width: 100%;
} */
body {
  font-family: 'Montserrat', sans-serif;
  background: #e5e5e5;
  /* height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  padding: 0px;
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 400px) {
  .container {
    width: 460px;
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.card {
  text-align: center;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px px 4px 4px;
}

.card__info {
  padding: 20px;
}
.card__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.19;
}
.card__text {
  margin-bottom: 25px;
  font-weight: 500;
}

.technologies__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.wrapped {
  /* display: flex;
  flex-direction: row;
  padding: 80px;
  justify-content: space-between;
  position: relative; */
}
.telegram-linc,
.viber-link,
.telephone-link {
  width: 18px;
  height: 18px;
  text-decoration: none;
}
.telegram-icon,
.viber-icon,
.telephone-icon {
  width: 18px;
  height: 18px;
}
.telegram-icon,
.viber-icon {
  margin-right: 15px;
}
.telephone-icon {
  margin-right: 20px;
}
.telephone-link-number {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
  text-decoration: none;
}
.modal-bgb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(51 51 51 / 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.modal-active {
  pointer-events: all;
  opacity: 1;
}
.modal-close-button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}
.modal-container {
  background: #ffffff;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 110px 40px;
  width: 364px;
  height: 604px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
.modal-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #57a35e;
  margin-bottom: 40px;
}
.user-email-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  width: 100%;
}
.modal-container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.user-email {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  margin-top: 15px;
  font-size: 18px;
  line-height: 24px;
  color: #4f4f4f;
  padding: 8px 0px;
  border: none;
  outline: none;
  border-bottom: 1px solid #4f4f4f;
}
.email-input-container {
  margin-bottom: 115px;
  height: 115px;
}
.email-error-text {
  font-size: 14px;
  line-height: 24px;
  color: #eb5757;
  margin-top: 2px;
  display: none;
}
.email-input-container-error .email-error-text {
  display: block;
}
.email-input-container-error .user-email {
  border-bottom: 1px solid #eb5757;
}
.button-send {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 32px;
  background: #57a35e;
  border-radius: 24px;
  outline: none;
  border: none;
  border-radius: 24px;
  pad: 12px 32px 12px 32px;
  color: #fdfdfd;
  cursor: pointer;
}
.modal-icon {
  margin-bottom: 35px;
}
.modal-success-message {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #57a35e;
  text-align: center;
  margin-bottom: 40px;
}
.modal-container-success {
  justify-content: center;
}

.contacts {
  padding-top: 20px;

  /* position: absolute;
  top: 35px;
  right: 195px;
  align-items: center; */
}
.contacts__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-right: 10px;
}
.my-works-link {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #eb5757;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 20px;
}
.experience-section {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  width: 275px; */
}
.my-photo {
  margin: 0 auto;

  text-align: center;
  /* border-radius: 50%; */
}
.fb-icon-img {
  margin-right: 15px;
}
.icon {
  width: 20px;
  height: 20px;
}
.experience {
  /* margin-top: 35px; */
  margin-bottom: 25px;
}
.experience__text {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}
.experience__text--first {
  margin-bottom: 8px;
}
.technologies {
  margin-bottom: 50px;
}
.technologies-icon {
  margin-left: 15px;
}
.my-info {
  /* margin-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 33%; */
}
/* h2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 32px;
} */
/* h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #333333;
  margin-bottom: 35px;
} */
.my-location {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #faeeee;
  background: #57a35e;
  /* justify-content: center;
  align-items: center; */
  padding: 4px 16px;
  margin-bottom: 30px;
}
.my-description {
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
  margin-bottom: 16px;
}
.my-skills-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 16px;
}
li {
  margin-bottom: 5px;
}
.my-skills-item {
  font-size: 16px;
  line-height: 24px;
  color: #57a35e;
  list-style: disc;
}
.my-skills {
  padding-left: 15px;
}
.my-skills-text {
  color: #4f4f4f;
}
.fb-icon {
  text-decoration: none;
}

.my-info__title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.18;
  text-align: center;
}
.calculator {
  /* display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 110px;  */
  /* background: #ffffff;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08);
  border-radius: 16px; */
}

.calculator-form {
  /* width: calc(100% - 40px); */
  max-width: 480px;
  background: #ffffff;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}
.calculator-title {
  color: #57a35e;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 50px;
  text-align: center;
}
.calculator-form {
  padding: 40px;
}
.project-price-select {
  font-family: 'Montserrat', sans-serif;
}
.project-type-container {
  /* display: flex;
  flex-direction: column; */
}
.project-price-calculate-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #fdfdfd;
  background: #57a35e;
  border-radius: 24px;
  border: none;
  outline: none;
  padding: 16px 32px;
  cursor: pointer;
}
.project-price-calculate-btn-container {
  /* width: 100%;
  text-align: center; */
}
.project-cost {
  margin-bottom: 30px;
  font-size: 18px;
  color: #4f4f4f;
  line-height: 24px;
}
.site-type,
.work-types-title,
.project-cost-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 16px;
}
.project-cost-title {
  margin-bottom: 10px;
}
.checkbox {
  color: #57a35e;
  width: 18px;
  height: 18px;
}
/* .container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
} */
.project-price-select {
  border: none;
  outline: none;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 24px;
  color: #4f4f4f;
  border-bottom: 1px solid #4f4f4f;
  padding-bottom: 8px;
}
.activity-type-item {
  margin-bottom: 12px;
}
.activity-type-title {
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
  margin-left: 12px;
}
.dollar {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #57a35e;
  margin-right: 3px;
}
