.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  @media screen and (max-width: $mobile-only) {
    width: $mobile;
  }
  //   @media screen and (min-width: $desktop) {
  //     width: $desktop;
  //   }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-type,
.work-types-title,
.project-cost-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 16px;
}

/* html {
  height: 100%;
  width: 100%;
} */

.wrapped {
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //   padding: 80px;

    //   position: relative;
  }
}
.about-me {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
