.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 20px;
  @media screen and (max-width: $mobile-only) {
    width: $mobile;
  }
  //   @media screen and (min-width: $desktop) {
  //     width: $desktop;
  //   }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
  @media screen and (min-width: $tablet) {
    padding-top: 40px;
    padding-bottom: 0px;
  }
}

.experience-section {
  @media screen and (min-width: $tablet) {
    width: calc(100% / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc(100% / 3);
  }
}
.site-type,
.work-types-title,
.project-cost-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 16px;
}

.wrapped {
  position: relative;
}
.about-me {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
