$mobile: 480px;
$mobile-only: 767px;
$tablet: 768px;
$tablet-only: 1199px;
$desktop: 1200px;

:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
