.contacts-section {
  padding-top: 10px;
}

.telephone-link-number {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
}

.contacts {
  display: flex;
}

.contacts__list {
  display: flex;

  @media screen and (min-width: $tablet) {
    flex-direction: column;
    margin-left: auto;
  }
}

.contacts__item:not(:last-child) {
  margin-right: 15px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 10px;
  }
}
.contacts__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);

  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: var(--accent-color);
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  color: #4f4f4f;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
